/* .listitem {
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
} */

.container {
    background-color: #ffffff;
}

[data-theme="dark"] .container {
    background-color: #c71c1c;
}