.summary {
    font-family: "Roboto Mono", monospace;
}

.summary h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #1011F5;
}

.portrait {
    width: 60%;
    height: auto;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.5rem;
}