.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 10% 60px 0 60px;
}

[data-theme="dark"] .slide {
    background-color: rgb(0, 1, 35);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
    margin: 0;
}

[data-theme="dark"] .text {
    color: white;
}

.photos {
    display: flex;
    position: relative;
    padding: 70px;
}

.photo1 {
    /* grid-column: 1 / 2; */
    justify-content: start;
    object-fit: cover;
    height: 88%;
    position: relative;
}

.photo2 {
    /* grid-column: 2 / 3; */
    /* grid-row: 1 / 2; */
    object-fit: fill;
    height: 42.5%;
    position: relative;
    z-index: 1;
    right: 15%;
}

.photo3 {
    /* grid-column: 2 / 3; */
    /* grid-row: 2 / 3; */
    object-fit: fill;
    height: 42.5%;
    position: relative;
    z-index: 1;
    top: 45.5%;
    right: 57.5%;
}



