.photoGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding-left: 2%;
  }

  @media (max-width: 768px) {
    .photoGrid {
      padding-left: 0px;
      justify-content: center;
    }
    
  }
  
  /* .photoWrapper {
    overflow: hidden;
    height: 100%;
  }
  
  .photoWrapper img {
    height: 100%;
    width: auto;
  } */
  