.cardcontainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.cardcontainers h4 {
    color: #1011F5;
  }

@media (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}

.techIcons{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  justify-content: left;
  padding: 25px;
}