.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 5rem;
}

.continents {
    padding-left: 5rem;
}

.continents p {
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .countries {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1rem;
    }

    .continents {
        padding-left: 3.25rem;
    }
}
