.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page p {
    padding-bottom: 7rem;
}

.page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.page h2 {
    display: flex;
    color: white;
}